body{
  background-color: #f5f5f5;
  font-size:18px;
  font-family: 'Roboto', sans-serif;
}

.calculator{
  width:286px;
  height:450px;
  background-color:white;
  border-radius:5px;
  border: 1px solid rgba(0,0,0,0.12);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  margin:50px auto;
}

.calculator__buttons {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
}

.calculator__button{
  width:70px;
  height:60px;
  background-color:#1f2326;
  color:#f8fcff;
  display:flex;
  align-items:center;
  justify-content:center;
  border:1px solid #2d3134;
  cursor:pointer;
}
.calculator__button-long{
  width:141.5px;
}

.calculator__button-purple{
  background-color:#5f4ab6;
  border-color:#6a56c0;
}

.calculator__button-yellow{
  background-color:#ffc207;
  border-color:#ffc207;
  color:#1f2326;
}

.calculator__panel{
  height:108px;
  text-align:right;
  padding:20px;
  position:relative;
}

.calculator__result{
  position:absolute;
  right:20px;
  bottom:20px;
  font-size:34px;
}

.calculator__button:hover{
  opacity:0.9;
}
